[submodule "rtmidi"]
	path = rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "jack"]
	path = jack
	url = https://github.com/jackaudio/jack2
[submodule "cpptime"]
	path = cpptime
	url = https://github.com/eglimi/cpptime
